<ul class="list-group list-group-numbered">
  <li (click)="selectBook(book.id)" *ngFor="let book of books;" class="list-group-item"
      [ngClass]="{ selected: book.id === selectedBook?.id}">
    {{ book.title }}, <em>{{ book.author}}</em>
  </li>
</ul>

<form (ngSubmit)="saveBook()" [formGroup]="formGroup">
  <div *ngIf="selectedBook" class="editor">
    <p class="lead">Edit selected book</p>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" id="title" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" name="author" id="author" formControlName="author">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" id="description" rows="5" formControlName="description"
                class="form-control"></textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-light" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
