<ng-container [formGroup]="form.formGroup" ]>
  <div class="mb-3">
    <app-input
      inputId="publisher"
      title="Publisher"
      formControlName="publisher">
    </app-input>
  </div>
  <div class="mb-3">
    <app-input
      inputId="publishYear"
      title="Publish year"
      [mandatory]="true"
      formControlName="publishYear">
    </app-input>
  </div>
  <div class="mb-3">
    <app-input
      inputId="editionNumber"
      title="Edition"
      [mandatory]="true"
      formControlName="editionNumber">
    </app-input>
  </div>
</ng-container>
